apiVersion: v1
kind: Secret
metadata:
  name: my-secret
  namespace: default
data:
  myExtraSecretValue: {{ lookup('community.hashi_vault.hashi_vault', 'secret={{ a.kv }}/{{ system }}/app/mysecret:myExtraSecretValue token={{ v.t }} url={{ v.a }}') | b64encode }}
  